@layout('layouts.app')


@section('content')
<section class='titulo container'>
    @if(auth.user)
        <h1 class='text-center font-titulo cor-especial pt-5'>Bem vindo {{ auth.user.username }} </h1>
    @else
        <h1 class='text-center font-titulo cor-especial pt-5'>Bem vindo a página que demonstra as métricas do computador pessoal</h1>
    @endif
</section>
@endsection